//
//  Release.xcconfig
//  PokemonLibrary
//
//  Created by Tiago Antunes on 02/03/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

POKEAPI_SERVER_URL = pokeapi.co/api/v2

POKEAPI_KEY = 

WEBHOOK_URL = webhook.site/2c1da91b-6a2f-4820-b964-d3d3d14b392c
